<section class="bg-secondary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <p class="section-heading">Our core values and services that 3WT provides to its customers: trust-based partnerships, knowledge-based support systems, and reliable delivery</p> -->
                <h2 class="section-heading">3WT can simplify the complex process of international trade for its customers, making it more manageable and accessible.</h2>
                <!-- <hr class="light">
                <p class="text-faded">3WT can simplify the complex process of international trade for its customers, making it more manageable and accessible.</p> -->
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
