<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1 class="text-shadow">3 Way Trading Company</h1> -->
            <!-- <img src="img/white-logo.svg" class="img-fluid img-shadow" alt="Responsive image"> -->
            <div id="logo-container" class="center-block">
                <img src="img/white-logo.svg" class="img-fluid img-shadow" alt="Responsive image">
            </div>
            <hr>
            <!-- <p class="text-shadow">3WT is an international trade services company committed to provide our customers with the highest levels of customer service, prompt and reliable delivery, trust-based partnerships, and knowledge-based support systems.</p> -->
            <p class="text-shadow">Global trade made easy with 3WT: Trust, Knowledge, and Reliability</p>
            <!-- <p class="text-shadow">Trust, Knowledge, and Reliability</p> -->
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
